<h1 class="page-header">Historique</h1>
<header class="row spacing">
                    <nav class="col-md-8 col-md-offset-4">
                        <ul   class="nav nav-pills">
                            <li routerLinkActive="active"><a [routerLink]="['tous']">Tous<span class="badge">42</span></a></li>
                            <li routerLinkActive="active"><a [routerLink]="['cours']">Cours ajoutés<span class="badge">22</span></a></li>
                            <li routerLinkActive="active"><a [routerLink]="['sondage']">Sondages crées<span class="badge">20</span></a></li>
                        </ul>
                    </nav>
                </header>
                <router-outlet></router-outlet>